

<div id="container">
        <div id="header">
        <p class='first'>Currency Converter</p>
    </div>

   <div id='body'>

    <div class = 'mainDiv' id="primary">
       <p class = "subPs">Exchange Rate Search</p>
        <form class = 'startCountry'> From: <br>
              <input ng-model ='exchange.from' type ='text' placeholder = 'Enter Currency'></input>
          </form><br>
          <form class = 'endCountry'> To: <br>
              <input ng-model ='exchange.to' type ='text' placeholder = 'Enter Currency'></input>
          </form><br>
          <form class = 'volume'> Amount: <br>
              <input ng-model = 'exchange.from_amount' type ='number' placeholder = 'Enter Amount'></input>
          </form><br>
          <button ng-click = 'getRate()' class = 'calc'>Convert</button>
    </div>

    <div id="content" class = 'mainDiv'>
        <p id ="rate" class='subPs'>Current Rate</p>
            <table class ='table'>
              <tr>
                <th>{{ exchange.from_amount }} {{exchange.from}} = </th>
                <th><img src="images/gears.gif" ng-show = 'loading'>{{ exchange.to_amount }} {{ exchange.to }}</th>
               </tr>
            </table>

           <a target ="_blank" ng-href= "{{url.from}}" ng-click = 'openNewTab()'>
            <button class = 'leftButton' ng-show = "(exchange.to_amount)!== null">Click to see news on {{exchange.from}} </button>
           </a>
           <a target = "_blank" ng-href = "{{url.to}}" ng-click = 'openNewTab()'>
            <button class ="rightButton" ng-show ="(exchange.to_amount)!== null">See news on {{exchange.to}}</button>
           </a>
    </div>

    <div class = 'mainDiv' id="secondary">
        <p class = 'subPs'>Currency Search</p>
         <input class = 'searchbar' type='text' ng-model ='search' placeholder = 'Search For Currency' >
            <table>
              <tr ng-repeat = "x in data | filter: search | orderBy: 'abbrev'">
                <td>{{x.country}}</td>
                <td>{{x.abbrev}}</td>
                <span ng-show="(data | filter:search).length === 0">No Results</span>
              </tr>
            </table>
          </div>
    </div>


